[Desktop Entry]
Comment=
Exec=/home/adam/.config/conky/conky-start.sh
GenericName=
Hidden=false
Icon=conky
MimeType=
Name=Dual Conky
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
