[Desktop Entry]
Comment[en_GB]=
Comment=
Comment[en_US]=
Exec=/home/adam/.config/conky/conky-start.sh
GenericName[en_GB]=
GenericName=
Hidden=false
Icon=conky
MimeType=
Name[en_GB]=Dual Conky
Name=Dual Conky
Name[en_US]=start-conky
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Autostart-Delay=0
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MATE-Autostart-enabled=true
